<div class="row">
  <div class="col-md-6">
    <label>Product Name</label>
    <input type="text" class="form-control" [(ngModel)]="name">
  </div>
  <div class="col-md-6">
    <label>Product description</label>
    <input type="text" class="form-control" [(ngModel)]="description">
  </div>
  <div class="col-md-6">
    <label>Product price</label>
    <input type="number" class="form-control" [(ngModel)]="price">
  </div>
  <div class="col-md-12 mt-4">
    <label (click)="selectedImage.click()" class="btn btn-secondary">Upload image</label>
    <span>{{imageName}}</span>
    <input type="file" #selectedImage class="form-control" hidden (change)="selectImage($event)" >
  </div>
  <div>
    <button class="btn btn-primary my-2" (click)="onAddProduct()">Add Product</button>
  </div>
</div>

